@let superHeroes = pagedSuperHeroes();

<div class="flex flex-row justify-end items-center mb-4 gap-4">
  <a matButton="elevated" color="primary" href="heroes/new">Crear Héroe</a>

  <mat-paginator
    [length]="totalHeroes()"
    [pageIndex]="pageIndex()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>

<mat-grid-list rowHeight="1:1" gutterSize="1rem">
  <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-4">
    @for (superHero of superHeroes; track superHero.id) {
      <app-super-heroe-item [superHeroe]="superHero" />
    }
  </div>
</mat-grid-list>
