@let superHeroDetail = this.superHeroesViewService.superHeroDetail();

@if (superHeroDetail) {
  @let profileInfo = superHeroDetail.profile;
  @let publisherInfo = superHeroDetail.publisher;
  <div class="flex flex-row justify-between gap-4 my-3">
    <div class="flex gap-3">
      <h1 class="text-4xl cursor-pointer" [matTooltip]="superHeroDetail.power.secretPower">
        {{ superHeroDetail.name }}
      </h1>
      <mat-divider vertical></mat-divider>
      <span class="text-2xl self-center text-blue-500">{{ superHeroDetail.civilOccupation }}</span>
    </div>

    <app-buttons [superHero]="superHeroDetail" />
  </div>

  <div class="flex flex-col gap-6 py-4">
    <mat-card appearance="outlined">
      <mat-card-header>
        <h3
          class="text-2xl tracking-[0.3rem] uppercase"
          [style.color]="superHeroDetail.profile.primaryColor || 'black'"
        >
          Perfil
        </h3>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="grid grid-flow-row-dense md:grid-cols-2">
          <figure class="relative aspect-square h-80 overflow-hidden">
            <img
              class="w-full h-full object-contain"
              [src]="superHeroDetail.profile.logoUrl"
              [alt]="superHeroDetail.name"
            />
          </figure>
          <div class="grid grid-flow-row-dense auto-rows-max gap-1">
            <app-colored-label-value
              [label]="'Nombre:'"
              [value]="superHeroDetail.name"
            ></app-colored-label-value>

            <app-colored-label-value
              [label]="'Origen:'"
              [value]="profileInfo.origin"
            ></app-colored-label-value>

            <app-colored-label-value [label]="'Altura:'" [value]="profileInfo.height">
              <span class="text-blue-500">{{
                profileInfo.height.includes('m') ? '' : 'm'
              }}</span></app-colored-label-value
            >

            <app-colored-label-value
              [label]="'Año de creación:'"
              [value]="profileInfo.creationYear.toString()"
            ></app-colored-label-value>
            <app-colored-label-value
              [label]="'Especie:'"
              [value]="profileInfo.species"
            ></app-colored-label-value>

            <app-colored-label-value
              [label]="'Género:'"
              [value]="profileInfo.gender.name"
            ></app-colored-label-value>

            <app-colored-label-value
              [label]="'Ocupación:'"
              [value]="superHeroDetail.civilOccupation"
            ></app-colored-label-value>

            <app-colored-label-value
              [label]="'Color principal:'"
              [value]="profileInfo.primaryColor"
            ></app-colored-label-value>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <h3
          class="text-2xl tracking-[0.3rem] uppercase"
          [style.color]="superHeroDetail.profile.primaryColor || 'black'"
        >
          General
        </h3>
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content>
        <div class="grid grid-cols-1 sm:grid-cols-2">
          <div class="flex flex-col">
            <p class="text-2xl tracking-widest uppercase">Poderes</p>
            <span class="text-xl mb-1">Nivel de poder</span>
            <span
              class="inline-flex items-center rounded-full px-2 py-1 text-xs font-semibold text-white w-1/2"
              [style.background-color]="superHeroDetail.power.level.color"
              [matTooltip]="superHeroDetail.power.secretPower"
            >
              {{ superHeroDetail.power.level.label }}
            </span>

            <p class="mb-0 text-xl">{{ superHeroDetail.power.powers }}</p>

            <div class="grid grid-cols-1 xl:grid-cols-3">
              <app-chip-list [list]="superHeroDetail.weapons" title="Armas"></app-chip-list>
              <app-chip-list
                [list]="superHeroDetail.weaknesses"
                title="Debilidades"
              ></app-chip-list>
              <app-chip-list [list]="superHeroDetail.abilities" title="Habilidades"></app-chip-list>
            </div>
          </div>

          <div class="flex flex-col lg:flex-row">
            <app-publisher-info [publisher]="publisherInfo" />
            <div class="w-1/2 flex flex-col gap-3">
              <p class="text-2xl tracking-widest uppercase">Afiliación</p>
              @for (aff of superHeroDetail.affiliation; track aff.id) {
                <mat-chip>{{ aff.label }}</mat-chip>
              }
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
}

@if (!superHeroDetail && !this.superHeroesViewService.superHeroDetailResource.isLoading()) {
  <div class="flex flex-col items-center justify-center gap-4 py-20">
    <span class="text-6xl">🦸‍♂️</span>
    <h1 class="text-3xl font-semibold tracking-wide">Super Héroe no encontrado</h1>
    <p class="text-gray-500 text-lg">El súper héroe que buscas no existe o fue eliminado.</p>
    <a mat-flat-button color="primary" [routerLink]="['/heroes']"> Volver al listado </a>
  </div>
}
