@if (isEditMode) {
  <div class="flex flex-col mb-4">
    <app-title
      title="Editando superhéroe: {{ superHeroFG.get('name')?.value }}"
      icon="edit"
    ></app-title>
    <p class="text-sm text-gray-500">
      Modifica los datos del superhéroe y haz click en actualizar para guardar los cambios
    </p>
  </div>
}

@if (!isEditMode) {
  <div class="flex flex-col mb-4">
    <app-title title="Creando nuevo superhéroe" icon="add"></app-title>
    <p class="text-sm text-gray-500">
      Completa el formulario con los datos del nuevo superhéroe y haz click en guardar para
      agregarlo a la lista
    </p>
  </div>
}

<form [formGroup]="superHeroFG" class="grid grid-flow-row-dense gap-4">
  <div class="flex flex-col">
    <app-title title="Información del superhéroe" icon="badge"></app-title>

    <div class="flex flex-col md:flex-row justify-between md:gap-4 mt-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" appInputUpperCase />

        <mat-error
          appErrorMessageForm
          class="mt-1"
          [messages]="{ pattern: 'Solo letras y números' }"
        >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Ocupación civil</mat-label>
        <input matInput formControlName="civilOccupation" class="mb-2" />
        <mat-error appErrorMessageForm [messages]="{ pattern: 'Solo letras y /' }"> </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col mt-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Editorial</mat-label>
        <mat-select formControlName="publisher">
          @for (publisher of PUBLISHERS_INFO; track publisher.id) {
            <mat-option [value]="publisher">{{ publisher.label }}</mat-option>
          }
        </mat-select>

        <mat-error
          appErrorMessageForm
          [messages]="{ pattern: 'La editorial es obligatoria' }"
        ></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Afiliación</mat-label>
        <mat-select formControlName="affiliation" multiple>
          @for (affiliation of AFFILIATION_OPTIONS; track affiliation.id) {
            <mat-option [value]="affiliation">{{ affiliation.label }}</mat-option>
          }
        </mat-select>
        <mat-error appErrorMessageForm></mat-error>
      </mat-form-field>
    </div>
  </div>

  <app-title title="Perfil" icon="account_circle"></app-title>

  <div formGroupName="profile" class="grid grid-cols-2 gap-4">
    <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
      <mat-label>Origen</mat-label>
      <input matInput formControlName="origin" />

      <mat-error
        appErrorMessageForm
        [messages]="{
          pattern: 'Solo se permiten letras y números',
        }"
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
      <mat-label>Especie</mat-label>
      <input matInput formControlName="species" />
      <mat-error
        appErrorMessageForm
        [messages]="{ required: 'La especie es obligatoria', pattern: 'Solo se permiten letras' }"
      ></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
      <mat-label>Altura</mat-label>
      <input matInput formControlName="height" placeholder="1.85" />
      <span matTextSuffix>m</span>
      <mat-error
        appErrorMessageForm
        [messages]="{ pattern: 'Formato válido: 1.85 o 1,85' }"
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
      <mat-label>Año de creación</mat-label>
      <input matInput type="text" minlength="3" maxlength="4" formControlName="creationYear" />
      <mat-error
        appErrorMessageForm
        [messages]="{
          required: 'El año de creación es obligatorio',
          pattern: 'Solo se permiten números',
          min: 'El año de creación no puede ser menor a 100',
          max: 'El año de creación no puede ser mayor al año actual',
        }"
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
      <mat-label>Género</mat-label>
      <mat-select formControlName="gender">
        @for (gender of GENDERS_INFO; track gender.id) {
          <mat-option [value]="gender">
            {{ gender.name }}
          </mat-option>
        }
      </mat-select>
      <mat-error appErrorMessageForm></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
      <mat-label>Color principal</mat-label>
      <input type="color" matInput formControlName="primaryColor" />
      <mat-error appErrorMessageForm></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-span-2">
      <mat-label>Foto de perfil Url</mat-label>
      <input type="url" matInput formControlName="profileUrl" />
      <mat-hint>Solo formato (.jpg, .jpeg, .png)</mat-hint>
      <mat-error appErrorMessageForm></mat-error>
    </mat-form-field>
  </div>

  <app-title title="Perfil de combate" icon="build"></app-title>

  <div class="grid grid-cols-1 gap-6">
    <div class="flex flex-col gap-2">
      <div class="flex items-center w-full justify-between my">
        <span class="font-medium text-green-500">Armas ({{ weaponsArray.length }})</span>

        <button
          type="button"
          class="primary"
          matFab
          (click)="addArrayItem(weaponsArray, CombatProfileEnum.WEAPON)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>

      <div formArrayName="weapons" class="grid grid-cols-2 gap-2 mt-3">
        @for (weaponControl of weaponsArray.controls; track weaponControl; let i = $index) {
          @let weaponIndex = i + 1;
          <div class="flex flex-row justify-between gap-3">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Arma {{ weaponIndex }}</mat-label>
              <input matInput type="text" [formControlName]="i" />
            </mat-form-field>

            <button
              type="button"
              matFab
              (click)="removeArrayItem(weaponsArray, i)"
              [matTooltip]="'Eliminar arma ' + weaponIndex"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
        <mat-error
          appErrorMessageForm
          [control]="weaponsArray"
          [messages]="{ duplicated: 'No se permiten armas duplicadas' }"
        ></mat-error>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between">
      <span class="font-medium text-blue-500">Habilidades ({{ abilitiesArray.length }})</span>
      <button
        type="button"
        class="primary"
        matFab
        (click)="addArrayItem(abilitiesArray, CombatProfileEnum.ABILITY)"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div formArrayName="abilities" class="grid grid-cols-2 gap-2 mt-3">
      @for (ability of abilitiesArray.controls; track ability; let i = $index) {
        @let abilityIndex = i + 1;
        <div class="flex flex-row justify-between gap-3">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Habilidad {{ abilityIndex }}</mat-label>
            <input matInput [formControlName]="i" />
          </mat-form-field>
          <button
            type="button"
            matFab
            [matTooltip]="'Eliminar Habilidad ' + abilityIndex"
            (click)="removeArrayItem(abilitiesArray, i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }

      <mat-error
        appErrorMessageForm
        [control]="abilitiesArray"
        [messages]="{ duplicated: 'No se permiten habilidades duplicadas' }"
      ></mat-error>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between">
      <span class="text-sm font-medium text-red-600"
        >Debilidades ({{ weaknessesArray.length }})</span
      >
      <button
        type="button"
        matFab
        (click)="addArrayItem(weaknessesArray, CombatProfileEnum.WEAKNESS)"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>
    <div formArrayName="weaknesses" class="grid grid-cols-2 gap-2 mt-3">
      @for (weakness of weaknessesArray.controls; track weakness; let i = $index) {
        @let weaknessIndex = i + 1;
        <div class="flex flex-row justify-between gap-3">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Debilidad {{ weaknessIndex }}</mat-label>
            <input matInput [formControlName]="i" />
          </mat-form-field>
          <button
            type="button"
            matFab
            [matTooltip]="'Eliminar Debilidad ' + weaknessIndex"
            (click)="removeArrayItem(weaknessesArray, i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }

      <mat-error
        appErrorMessageForm
        [control]="weaknessesArray"
        [messages]="{ duplicated: 'No se permiten debilidades  duplicadas' }"
      ></mat-error>
    </div>
  </div>

  <app-title title="Poder" icon="electric_bolt"></app-title>

  <div formGroupName="power" class="grid grid-cols-2 gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Poder secreto</mat-label>
      <input matInput formControlName="secretPower" />
      <mat-error appErrorMessageForm></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nivel de poder</mat-label>
      <mat-select formControlName="level">
        @for (pLevel of POWERS_INFO; track pLevel.label) {
          <mat-option [value]="pLevel">
            {{ pLevel.label }}
          </mat-option>
        }
      </mat-select>
      <mat-error appErrorMessageForm></mat-error>
    </mat-form-field>
    <div class="flex flex-col gap-2 col-span-2">
      <div class="flex items-center justify-between">
        <span class="text-sm font-medium text-orange-600">Poderes ({{ powersArray.length }})</span>
        <button type="button" matFab (click)="addArrayItem(powersArray, CombatProfileEnum.POWER)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div formArrayName="powers" class="grid grid-cols-2 gap-2 mt-3">
        @for (power of powersArray.controls; track power; let i = $index) {
          @let powerIndex = i + 1;
          <div class="flex flex-row gap-3">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Poder {{ powerIndex }}</mat-label>
              <input matInput [formControlName]="i" />
            </mat-form-field>
            <button
              type="button"
              matFab
              [matTooltip]="'Eliminar Poder ' + powerIndex"
              (click)="removeArrayItem(powersArray, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }

        <mat-error
          appErrorMessageForm
          [control]="powersArray"
          [messages]="{ duplicated: 'No se permiten poderes duplicados' }"
        ></mat-error>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-end gap-3">
    <button matButton="text" (click)="goBack()">Volver</button>
    <button matButton="filled" (click)="saveOrUpdate()">
      {{ isEditMode ? 'Actualizar' : 'Guardar' }}
    </button>

    <button matButton="outlined" (click)="deleteHero()">Eliminar</button>
  </div>
</form>
